@import "../variables";

.Dialog {
  border: $border--default;
  background: $background--uiDefault;
}

.Dialog__header {
  border-bottom: $border--default;
  padding-top: 8px;
  padding-bottom: 8px;
}

.Dialog__title {
  padding-left: 10px;
  color: $text-color--heading;
  font-weight: normal;
}
