.Scroll {
  background-size: contain;
  background-repeat: no-repeat;
  outline: none;
  height: 433px;
  width: 100%;
  padding: 68px 50px 80px 43px;
  text-align: center;
}

.Scroll--introScroll {
  background-image: url("../../assets/scrolls/introScroll.png");
  color: #49280A;
}

.Scroll__content {
  width: 100%;
  height: 100%;
  overflow: auto;
}
