.Scroll {
  background-size: contain;
  background-repeat: no-repeat;
  outline: none;
  height: 433px;
  width: 100%;
  padding: 68px 40px 80px 33px;
  text-align: center;
}

.Scroll--introScroll {
  background-image: url("../../assets/scrolls/introScroll.png");
  color: #49280A;
}

.Scroll--deathScreen {
  background-image: url("../../assets/scrolls/deathScroll.png");
  color: black;
}

.Scroll--winningScreen {
  background-image: url("../../assets/scrolls/winningScroll.png");
  color: #87581C;
}

.Scroll__content {
  width: 100%;
  height: 100%;
  overflow: auto;
  // Padding so the scrollbar doesn't overlap content
  padding-left: 10px;
  padding-right: 10px;
}
