{
  "extends": "airbnb",
  "rules": {
    // We prefer double quotes to single so that we don't have to escape them so often
    "quotes": [2, "double"],

    // This prevents using functions with an uppercased first letter - we want to be able to do that
    "new-cap": 0,

    // We allow assigning properties to objects passed as parameters
    "no-param-reassign": [2, { "props": false }],
  }
}
