@import "../ProgressBar";
@import "../variables";

.InfoBar {

}

.InfoBar__container {
  height: 100%;
  max-width: $max-mobile-width;
  padding: 10px;
  background: $background--uiDefault;
  border: $border--default;
  margin: 0 auto;
  overflow: hidden;
}
