$tile-width: 16px;

body {
  background: #484848;
}

.scene {
  position: relative;
}

.player {
  width: $tile-width;
  height: $tile-width;
  background: white;
  text-align: center;
  line-height: $tile-width;
  font-weight: bold;
  position: absolute;
  transform: rotate(90deg);
  transition: left 0.1s, top 0.1s;
}

.wall-tile {
  width: $tile-width;
  height: $tile-width;
  background: #95836d;
  position: absolute;
}

.stairsDown-tile {
  width: $tile-width;
  height: $tile-width;
  background: #000;
  position: absolute;
}
.stairsUp-tile {
  width: $tile-width;
  height: $tile-width;
  background: #7e7e7e;
  position: absolute;
}