$tile-width: 16px;

body {
  background: #000000;
  font-family: Arial;
}

.scene {
  position: relative;
}

.player-creature, .enemy-creature {
  width: $tile-width;
  height: $tile-width;
  text-align: center;
  line-height: $tile-width;
  font-weight: bold;
  position: absolute;
}

.player-creature {
  background: white;
}

.enemy-creature {
  background: blue;
}

/*_________________________________*/

.health {
  position: absolute;
  background: red;
  width: 100%;
  height: 2px;
  top: -2px;
}

.health__remaining {
  height: 100%;
  background-color: lawngreen;
}

/*_________________________________*/

.wall-tile,
.floor-tile,
.stairsDown-tile,
.stairsUp-tile {
  width: $tile-width;
  height: $tile-width;
  position: absolute;
  &.fog-of-war {
    opacity: 0.5;
  }
}

.wall-tile {
  background-image: url("assets/wall.png");
}

.floor-tile {
  background-image: url("assets/floor.png");
  background-position: 25% 75%;
}

.stairsDown-tile {
  background: #000;
}
.stairsUp-tile {
  background: #7e7e7e;
}

/*_________________________________*/

.introScreen, .deathScreen {
  box-sizing: border-box;
  outline: none;
  height: 500px;
  width: 360px;
  padding: 80px 55px;
  margin: 50px auto;
  background-size: cover;
  text-align: center;
}

.introScreen {
  background-image: url("assets/scrollBG.png");
}
.deathScreen {
  background-image: url("assets/deathScroll.png");
  color: black;
}