@import "./variables";

html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

@font-face {
  font-family: 'VT323';
  src: url('../assets/fonts/VT323.woff') format('woff'), /* Pretty Modern Browsers */
       url('../assets/fonts/VT323.ttf')  format('truetype'); /* Safari, Android, iOS */
}

$tile-width: 16px;

body {
  margin: 0;
  background: #000000;
  font-family: 'VT323', Fallback, sans-serif;
}

html, body, .root {
  height: 100%;
  overflow: hidden;
}

/*_________________________________*/

h1 {
  margin-top: 0;
}

h2 {
  margin: 0;
}

a {

}

.screen-header {
  border-bottom: $border--default;
  padding-top: 8px;
  padding-bottom: 8px;
}

.screen-header__title {
  padding-left: 10px;
  color: $text-color--heading;
  font-weight: normal;
}

.ui-list {
  line-height: 32px;
  padding: 0;
  margin: 0;
}

.ui-list__icon {
  width: 32px;
  height: 32px;
  vertical-align: middle;
  text-align: center;
}
