$tile-width: 16px;
$max-mobile-width: 320px;
$border--default: 1px solid #2d2d2d;

$background--uiDefault: #111111;
$background--uiHighlighted: #3687FF;

$text-color--heading: #585858;
$text-color--uiHighlighted: white;
$text-color--uiLink: #3687FF;
$text-color--uiLinkOnDark: #1d67d6;
$text-color--uiLinkHighlighted: white;
