@import "./variables";

.InGameScreen {
  height: 100%;
  color: #d3d3d3;
}

.InGameScreen__main-area {
  position: relative;
}

.InGameScreen__Log {
  width: 100%;
  position: absolute;
  z-index: 1;
  pointer-events: none;
}

.InGameScreen__scrollable-container {
  position: absolute;
  height: 100%;
  width: 100%;
  overflow: auto;
  &::-webkit-scrollbar {
    display: none;
  }
}

/*_________________________________*/

.tile, .creature, .item, .feature {
  image-rendering: pixelated;
  width: $tile-width;
  height: $tile-width;
  position: absolute;

  &.fog-of-war {
    opacity: 0.5;
  }
}

.creature {
  transition: all 0.1s;
}

.player-creature {
  background-image: url("../assets/sprites/protagonist-normal.png");
}

.mutantRat-creature {
  background-image: url("../assets/sprites/rat.png");
}

.minion-creature {
  background-image: url("../assets/sprites/knightForwards.png");
}

.pestcontrol-creature{
  background-image: url("../assets/sprites/pestcontrol.png");
}

/*_________________________________*/
.experienceNeeded {
  background: #25453d;
  width: 100%;
  height: 10px;
}

.playerExperience {
  height: 100%;
  background: #00a08b;
  transition: all 0.1s;
}
/*_________________________________*/

.health, .playerHealth {
  background: #ac0000;
  width: 100%;
}
.playerHealth{
  height: 10px;
}

.health {
  position: absolute;
  height: 2px;
  top: -7px;
}

.health__remaining, .playerHealth__remaining {
  height: 100%;
  background-color: #499300;
  transition: all 0.1s;
}

/*_________________________________*/

.item {
  pointer-events: none;
}

.healingPotion {
  width: $tile-width;
  height: $tile-width;
  position: absolute;
  background-image: url("../assets/sprites/items/potion.png");
}

/*_________________________________*/

.tile {
}

.door-tile {
  background-image: url("../assets/features/door.png");
}

.door-tile--open {
  background-image: url("../assets/features/doorOpen.png");
}

.feature--stairsUp {
  background-image: url("../assets/features/stairsUp.png");
}

.feature--stairsDown {
  background-image: url("../assets/features/stairsDown.png");
}

@mixin floorTile($tilesetX, $tilesetY, $tileX, $tileY) {
  $tileWidth: 16px;
  $tilesetWidth: 7 * $tileWidth;
  $tilesetHeight: 3 * $tileWidth;
  $tilesetOffsetX: $tilesetX * $tilesetWidth;
  $tilesetOffsetY: $tilesetY * $tilesetHeight;
  $tileOffsetX: $tilesetOffsetX + ($tileX * $tileWidth);
  $tileOffsetY: $tilesetOffsetY + ($tileY * $tileWidth);
  background-position: (-$tileOffsetX) (-$tileOffsetY);
}

.tile--floor {
  background-image: url("../assets/terrain/floor/floor.png");
}

.tile--floor-____ {
  @include floorTile(0, 8, 1, 1);
}

.tile--floor-___W {
  @include floorTile(0, 8, 0, 1);
}

.tile--floor-__S_ {
  @include floorTile(0, 8, 1, 2);
}

.tile--floor-__SW {
  @include floorTile(0, 8, 0, 2);
}

.tile--floor-_E__ {
  @include floorTile(0, 8, 2, 1);
}

.tile--floor-_E_W {
  @include floorTile(0, 8, 3, 1);
}

.tile--floor-_ES_ {
  @include floorTile(0, 8, 2, 2);
}

.tile--floor-_ESW {
  @include floorTile(0, 8, 3, 2);
}

.tile--floor-N___ {
  @include floorTile(0, 8, 1, 0);
}

.tile--floor-N__W {
  @include floorTile(0, 8, 0, 0);
}

.tile--floor-N_S_ {
  @include floorTile(0, 8, 5, 1);
}

.tile--floor-N_SW {
  @include floorTile(0, 8, 4, 1);
}

.tile--floor-NE__ {
  @include floorTile(0, 8, 2, 0);
}

.tile--floor-NE_W {
  @include floorTile(0, 8, 3, 0);
}

.tile--floor-NES_ {
  @include floorTile(0, 8, 6, 1);
}

.tile--floor-NESW {
  @include floorTile(0, 8, 5, 0);
}

@mixin wallTile($tilesetX, $tilesetY, $tileX, $tileY) {
  $tileWidth: 16px;
  $tilesetWidth: 6 * $tileWidth;
  $tilesetHeight: 3 * $tileWidth;
  $tilesetOffsetX: $tilesetX * $tilesetWidth;
  $tilesetOffsetY: $tilesetY * $tilesetHeight;
  $tileOffsetX: $tilesetOffsetX + ($tileX * $tileWidth);
  $tileOffsetY: $tilesetOffsetY + ($tileY * $tileWidth);
  background-position: (-$tileOffsetX) (-$tileOffsetY);
}

.tile--wall {
  background-image: url("../assets/terrain/wall.png");
}

.tile--wall-blank {
  @include wallTile(0, 4, 3, 0);
}

.tile--wall-edgesIntersect-____ {
  @include wallTile(0, 4, 1, 1);
}

.tile--wall-edgesIntersect-___W {
  @include wallTile(0, 4, 1, 0);
}

.tile--wall-edgesIntersect-__S_ {
  @include wallTile(0, 4, 0, 1);
}

.tile--wall-edgesIntersect-__SW {
  @include wallTile(0, 4, 2, 0);
}

.tile--wall-edgesIntersect-_E__ {
  @include wallTile(0, 4, 1, 0);
}

.tile--wall-edgesIntersect-_E_W {
  @include wallTile(0, 4, 1, 0);
}

.tile--wall-edgesIntersect-_ES_ {
  @include wallTile(0, 4, 0, 0);
}

.tile--wall-edgesIntersect-_ESW {
  @include wallTile(0, 4, 4, 0);
}

.tile--wall-edgesIntersect-N___ {
  @include wallTile(0, 4, 1, 1);
}

.tile--wall-edgesIntersect-N__W {
  @include wallTile(0, 4, 2, 2);
}

.tile--wall-edgesIntersect-N_S_ {
  @include wallTile(0, 4, 0, 1);
}

.tile--wall-edgesIntersect-N_SW {
  @include wallTile(0, 4, 5, 1);
}

.tile--wall-edgesIntersect-NE__ {
  @include wallTile(0, 4, 0, 2);
}

.tile--wall-edgesIntersect-NE_W {
  @include wallTile(0, 4, 4, 2);
}

.tile--wall-edgesIntersect-NES_ {
  @include wallTile(0, 4, 3, 1);
}

.tile--wall-edgesIntersect-NESW {
  @include wallTile(0, 4, 4, 1);
}
