@import "./variables";
@import "./InGameScreen/wall";
@import "./InGameScreen/floor";

.InGameScreen {
  height: 100%;
  color: #d3d3d3;
}

.InGameScreen__main-area {
  position: relative;
}

.InGameScreen__Log {
  width: 100%;
  position: absolute;
  z-index: 1;
  pointer-events: none;
}

.InGameScreen__scrollable-container {
  position: absolute;
  height: 100%;
  width: 100%;
  overflow: auto;
  &::-webkit-scrollbar {
    display: none;
  }
}

/*_________________________________*/

.tile, .creature, .item, .feature {
  image-rendering: pixelated;
  width: $tile-width;
  height: $tile-width;
  position: absolute;

  &.fog-of-war {
    opacity: 0.5;
  }
}

.creature {
  transition: all 0.1s;
}

.player-creature {
  background-image: url("../assets/sprites/protagonist-normal.png");
}

.mutantRat-creature {
  background-image: url("../assets/sprites/rat.png");
}

.minion-creature {
  background-image: url("../assets/sprites/knightForwards.png");
}

.pestcontrol-creature{
  background-image: url("../assets/sprites/pestcontrol.png");
}

/*_________________________________*/
.experienceNeeded {
  background: #25453d;
  width: 100%;
  height: 10px;
}

.playerExperience {
  height: 100%;
  background: #00a08b;
  transition: all 0.1s;
}
/*_________________________________*/

.health, .playerHealth {
  background: #ac0000;
  width: 100%;
}
.playerHealth{
  height: 10px;
}

.health {
  position: absolute;
  height: 2px;
  top: -7px;
}

.health__remaining, .playerHealth__remaining {
  height: 100%;
  background-color: #499300;
  transition: all 0.1s;
}

/*_________________________________*/

.item {
  pointer-events: none;
}

.healingPotion {
  width: $tile-width;
  height: $tile-width;
  position: absolute;
  background-image: url("../assets/sprites/items/potion.png");
}

/*_________________________________*/

.tile {
}

.tile--door {
  background-image: url("../assets/features/door.png");
}

.tile--door-open {
  background-image: url("../assets/features/doorOpen.png");
}

.feature--stairsUp {
  background-image: url("../assets/features/stairsUp.png");
}

.feature--stairsDown {
  background-image: url("../assets/features/stairsDown.png");
}
