@import "./variables";

.ui-list__emptyMessage {
  padding-left: 10px;
  padding-right: 10px;
  text-align: center;
}

.ItemList__item--highlighted {
  background: $background--uiHighlighted;
  color: $text-color--uiHighlighted;

  > .UILink {
    color: $text-color--uiLinkHighlighted;
  }
}
